.search-filter {
  position: relative;
  box-shadow: 0 0 5px 5px $white-25;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid $white-25;
    background: #ddd;
    // border-radius: 5px;
    outline: none;
    color: #444;
    font-size: 1em;
    transition: 0.5s;

    &:valid ~ span,
    &:focus ~ span {
      transform: translate(10px, -7px);
      font-size: 0.65em;
      padding: 0 10px;
      background: #1E3148;
      color: #fff;
      border-radius: 2px;
      letter-spacing: 0.2em;

      // b for warehouse search
      b {
        display: none;
      }
    }

    &:valid,
    &:focus {
      border: 1px solid $white-25;
    }
  }

  span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #888;
    text-transform: uppercase;
    transition: 0.5s;
  }
}
