$black: #000;
$black-10: rgba(0,0,0,0.10);
$black-15: rgba(0,0,0,0.15);
$black-25: rgba(0,0,0,0.25);
$black-50: rgba(0,0,0,0.50);
$black-75: rgba(0,0,0,0.75);

$white: #fff;
$white-10: rgba(255,255,255,0.10);
$white-15: rgba(255,255,255,0.15);
$white-25: rgba(255,255,255,0.25);
$white-35: rgba(255,255,255,0.35);
$white-50: rgba(255,255,255,0.5);
$white-75: rgba(255,255,255,0.75);

$gray: #bbb;
$gray-10: rgba(127,127,127,0.10);
$gray-15: rgba(127,127,127,0.15);
$gray-25: rgba(127,127,127,0.25);
$gray-50: rgba(127,127,127,0.5);
$gray-75: rgba(127,127,127,0.75);